version: '3'

services:
  jdupdate:
    build: .
    ports:
      - "8088:8080"
    # 可选：设置环境变量
    environment:
      - FLASK_ENV=production
    # 挂载配置文件
    volumes:
      - ./config.yaml:/app/config.yaml
    # 可选：设置重启策略
    restart: unless-stopped
